<h2>Sign in</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true, :placeholder=>"hello@example.com", :class=>"mole_reg" %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password, :placeholder=>"password" ,:class=>"mole_reg"%></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><button type="submit" class="a-btn" value="Sign in">
						<span class="a-btn-text">Enter</span>
						<span class="a-btn-slide-text">Log In!</span>
						<span class="a-btn-icon-right"><span></span></span>
					</button></div>
<% end %>
