



<ul class="meun">
		<li class="meun green">
			<p><%= link_to "Home", root_path, :class =>"meun_link"%></p>
			<br>
			<p class="subtext">HOME PAGE</p>
		</li>
		<li class="meun yellow">
			<p><%= link_to "Resources", home_resources_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Resources</p>
		</li> 
		<li class="meun purple">
			<p><%= link_to "Organisations", home_organisations_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Organisations</p>
		</li> 
		<li class="meun blue">
			<p><%= link_to "What is here?", home_what_is_here_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">What is here?</p>
		</li>
		<li class="meun green">
			<p><%= link_to "Events",home_events_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">What is here?</p>
		</li>
		<li class="meun red">
			<p><%= link_to "Contact Us", home_contact_us_path, :class =>"meun_link" %></p>
			<br>
			<p class="subtext">Contact us</p>
		</li>
</ul class="meun"> 



